{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>Name: <b>{{ object.name }}</b></p>
        <p>Birthday: <b>{{ object.profile.birthday }}</b></p>
        <p>Hometown: <b>{{ object.profile.hometown }}</b></p>
        <br>
        <p>Ascendent Sign: <b>{{ object.profile.astro.asc_sign }}</b></p>
        <p>Sun Sign: <b>{{ object.profile.astro.planets.sun.sign }}</b></p>
        <p>Moon Sign: <b>{{ object.profile.astro.planets.moon.sign }}</b></p>
        <p>Mercury Sign: <b>{{ object.profile.astro.planets.mercury.sign }}</b></p>
        <p>Venus Sign: <b>{{ object.profile.astro.planets.venus.sign }}</b></p>
        <p>mars Sign: <b>{{ object.profile.astro.planets.mars.sign }}</b></p>
        
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

